@charset "utf-8";
/* CSS Document */
.Product
{	
	width: 200px;
	height: 300px;	
}
.main
{	
	position: relative;
	top: -280px;
	left: 205px;
}
.container
{
	width: 400px;
	height: 280px;
}
.div01
{
	background-color: green;
	color: aliceblue;
	text-align: center;
	width: 50px;
	font-family: arial;
}
.div02
{
	font-family: arial;
	font-size: 25px;
}
.div03
{
	font-family: arial;
	font-size: 10px;
}
.div04
{
	color:#B92800;
	font-family: arial;
	font-size: 20px;
}
.div05
{
	font-family: arial;
}
.div06
{
	font-family: arial;
}
.div07
{
	font-family: arial;
}
.div08
{
	font-family: arial;
}
.main div
{
	line-height: 28px;
}
.container01
{
	position: relative;
	left: 410px;
	top: -280px;

}